{% extends "base.html" %}

{% block content %}
<div class="hero">
    {% if g.user.is_authenticated %}
    <h2>Hi, {{ g.user.display_name }}!</h2>
    {% else %}
    <h2>Welcome to HIPE</h2>
    {% endif %}
    <p>The game of HIPE was described by Peter Winkler in his excellent collection of mathematical puzzles.</p>
    <p>The rules are straightforward: you are given a string of letters, and your goal is to find an English word that contains those letters as a substring. So if the string were "HIPE", the answer might be "arc<strong>HIPE</strong>lago".</p>
    <p style="margin-top: 24px;"><a class="btn primary" href="{{ url_for('random') }}">Play HIPE</a></p>
</div>
{% endblock %}
